:root,
:root.light {
  --darkerGrey: #222629;
  --mediumGrey: #474b4f;
  --lighterGrey: #6b6e70;
  --white: #f8f5fa;
}

:root.dark {
  --darkerGrey: #f8f5fa;
  --mediumGrey: #6b6e70;
  --lighterGrey: #474b4f;
  --white: #222629;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Arial, sans-serif;
  overflow: scroll;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
p {
  color: var(--darkerGrey);
}

p {
  line-height: 1.5;
}

header {
  text-align: center;
}

#NasaLogo {
  width: 100%;
  height: auto;
}

#NasaHeader {
  width: 100%;
  height: auto;
  font-size: 4vw;
}

#NasaIcon {
  height: 150px;
  width: auto;
  position: fixed;
  right: 0;
  bottom: 10px;
}

.toggle-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.fas {
  font-size: 34px;
  color: var(--darkerGrey);
}

.NasaIcon-right {
  animation: animatebottom 1s;
}

@keyframes NasaIcon-AnimateBottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

#lightMode {
  display: none;
}

#darkMode {
  display: block;
}

.NasaAPI-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 20px;
  max-width: 100%;
}

.NasaAPI-grid-container > div {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(240, 240, 214, 0.8),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}

.NasaAPI-grid-container > div > img {
  max-width: 100%;
  max-height: 100%;
}
