:root {
  --darkerGrey: #222629;
  --mediumGrey: #474b4f;
  --lighterGrey: #6b6e70;
  --white: #f8f5fa;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Arial, sans-serif;
  overflow: scroll;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

header {
  text-align: center;
}

#NasaLogo {
  width: 100%;
  height: auto;
}

#NasaHeader {
  width: 100%;
  height: auto;
  font-size: 4vw;
}

#NasaIcon {
  height: 150px;
  width: auto;
  position: fixed;
  right: 0;
  bottom: 10px;
}

.NasaIcon-right {
  animation: animatebottom 1s;
}

@keyframes NasaIcon-AnimateBottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}
