:root,
:root.light {
  --NasaRed: #fc3d21;
  --NasaBlue: #0b3d91;
  --darkerGrey: #222629;
  --mediumGrey: #474b4f;
  --lighterGrey: #6b6e70;
  --white: #f8f5fa;
  --hoverBlue: rgba(44, 130, 201, 0.4);
}

:root.dark {
  --NasaRed: #45a29e;
  --NasaBlue: #66fcf1;
  --darkerGrey: #c5c6c7;
  --mediumGrey: #66fcf1;
  --lighterGrey: #1f2833;
  --white: #0b0c10;
  --hoverBlue: #66fcf1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Arial, sans-serif;
  overflow: scroll;
  padding-bottom: 155px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h4,
p {
  color: var(--darkerGrey);
  padding: 0px 20px;
}

h2,
h3 {
  color: var(--white);
  padding: 0px 20px;
}

b {
  color: var(--NasaRed);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-size: 1.5vw;
  color: var(--darkerGrey);
}

header {
  text-align: center;
}

#NasaLogo {
  width: 100%;
  height: auto;
}

#NasaHeader {
  width: 100%;
  height: auto;
  font-size: 4vw;
  margin-bottom: 30px;
}

#NasaIcon {
  height: 150px;
  width: auto;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 15px;
}

#introBlock {
  margin: auto;
  width: 95%;
  max-width: 800px;
  text-align: left;
  padding-bottom: 20px;
}

.toggle-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.fas {
  font-size: 34px;
  color: var(--darkerGrey);
}

.NasaIcon-right {
  animation: animatebottom 1s;
}

@keyframes NasaIcon-AnimateBottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

#lightMode {
  display: none;
}

#darkMode {
  display: block;
}

.NasaAPI-grid-container,
.RoverImages-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 3fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-bottom: 20px;
}

.NasaAPI-grid-container > div,
.RoverImages-grid-container > div {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  background: linear-gradient(to bottom, var(--NasaBlue) 25%, var(--white) 10%);
  box-shadow: 0 4px 8px 0 rgba(240, 240, 214, 0.8),
    0 6px 20px 0 var(--lighterGrey);
}
.NasaAPI-grid-container > div:hover,
.RoverImages-grid-container > div:hover {
  box-shadow: 0 4px 8px 0 var(--hoverBlue), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NasaAPI-grid-container > div > h2,
h3 {
  text-align: center;
}

.RoverImages-grid-container > div > h2,
h3 {
  text-align: center;
}

.NasaAPI-grid-container > div > img,
.RoverImages-grid-container > div > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

#marsWeather {
  height: auto;
  padding-top: 25px;
  padding-bottom: 55.2%;
  margin-bottom: 0px;
  position: relative;
  pointer-events: none;
  overflow: scroll;
}

#marsWeather iframe {
  width: 100%;
  height: 100%;
  max-height: 665px;
  border-radius: 25px;
  position: absolute;
  background-color: transparent;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px 0px;
  width: 100%;
  background-color: var(--white);
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #marsWeather {
    display: none;
  }

  #MarsWeatherButton {
    display: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--NasaBlue);
    color: var(--white);
    border: none;
  }
  a {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 700px) {
  #MarsWeatherButton {
    display: none;
  }
}
