* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(19, 19, 19);
  font-family: "Segoe UI", Arial, sans-serif !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-image: linear-gradient(#272727, rgba(19, 19, 19, 1));
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 100;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #ababab;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  opacity: 1;
}

.greenLine:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: auto auto; /* This will center the border. */
  width: 20px;
  padding-top: 5px;
  border-bottom: 1px solid #7fc03f;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 32vh !important;
}

.content2 {
  padding-top: 32vh !important;
}

header {
  padding-top: 20px;
}

header h1 {
  color: white;
  opacity: 0.9;
  padding: 15px 30px 20px 10px;
  margin-bottom: 0px;
  font-size: 5vw;
}

.tabcontent h3 {
  color: white;
  opacity: 0.9;
  padding: 15px 30px 0px 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 70%;
  text-align: left;
}

#sectionHeader {
  font-size: 2vw;
  margin-left: 1%;
}

.wideDiv {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 380px !important;
  height: 180px !important;
}
.wideDiv h4 {
  color: white;
  opacity: 0.7;
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
}

.tabcontent p {
  color: white;
  opacity: 0.4;
  text-align: left;
  padding: 0px 30px 5px 10px;
  font-size: 60%;
  margin: 3px 0px;
}

.MiniShortcutsRightTextAlign:hover {
  background-color: #171616;
}

.MiniShortcutsRightTextAlign h3 {
  margin-left: 2%;
}

.MiniShortcutsRightTextAlign p {
  margin-left: 2%;
  font-size: 1.5vw;
}

.tabcontent {
  display: none;
  padding: 10px;
  border-top: none;
}

#PODCASTS img {
  border-radius: 10px;
}

#GENRESMOOD {
  display: block;
}

.borderLine {
  float: left;
  width: 98%;
  margin-left: 1%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.grid-container {
  display: grid;
  height: auto;
  align-content: flex-start;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}
@media only screen and (max-width: 1150px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

.grid-container > div {
  text-align: center;
  margin: 10px 5px;
  font-size: 30px;
}

.pictureShortCuts {
  width: 240px !important;
  height: 240px !important;
  object-fit: cover;
}

.pictureShortCutsWide {
  cursor: pointer;
  width: 380px !important;
  height: 180px !important;
  object-fit: cover;
  opacity: 0.4;
  position: relative;
  display: block;
}

.pictureMiniShortCuts {
  cursor: pointer;
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  float: left;
}

.MiniShortcutsRightTextAlign {
  float: left;
  width: 72%;
  height: 100%;
  padding: 0;
}

.gallery-text {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 380px !important;
  height: 180px !important;
  text-align: center;
  vertical-align: middle;
}

button {
  outline: none !important;
}

button:active {
  text-decoration: none;
}

#changeButton {
  float: left;
  width: 80%;
  color: white;
  background: none;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  border-radius: 50px;
  margin-top: 5px;
  padding: 5px 0px;
  border-color: white;
  border-width: thin;
  max-width: 120px;
  opacity: 0.75;
  margin-left: 20px;
}

#changeButton:hover {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

#ConcertsHeader {
  float: left;
  top: 0;
  left: 10vw;
  padding-left: 100px;
  float: left;
  width: auto;
  padding: 10px;
  margin: 0;
  font-size: 2vw;
}

#searchCityInput {
  display: none;
  float: left;
  margin-left: 20px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 60%;
  background: #333333;
  outline: none !important;
}

#searchCityInput:focus {
  color: White;
  padding-left: 10px;
}

#searchBar {
  margin-left: 2vw;
  border-bottom-color: rgba(171, 171, 171, 0.3);
}

#eventContent {
  float: left;
  width: 100%;
  padding-left: 2vw;
}

#eventContent h3 {
  margin-bottom: 10px;
}

#myTable {
  background: #131313;
  width: 100%;
  text-align: center;
}

#myTable td {
  color: rgba(171, 171, 171);
  border-bottom-color: rgba(171, 171, 171, 0.3);
  width: 15%;
  vertical-align: middle;
}

#myTable tr {
  display: table-row;
}

#myTable tr:hover {
  background-color: rgba(51, 51, 51, 0.3);
}
#firstEvent {
  color: white;
  border-top-width: 1px;
  border-top-color: rgba(171, 171, 171, 0.3);
}

tbody {
  width: 100vw;
}

.friendImage {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-right: 20px;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .pictureShortCuts {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.spotify__controls--play {
  margin: 3px 8px;
  padding: 20px;
  font-size: 18px;
  height: 60px;
  width: 60px;
  color: white;
  opacity: 0.6;
  background-color: rgba(19, 19, 19, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 1 !important;
}

.spotify__controls--play:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  height: 70px;
  width: 70px;
  background-color: rgba(19, 19, 19, 1);
}

/* Container needed to position the overlay. Adjust the width as needed */
.ImageIconContainer {
  left: 50;
  position: relative;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-right: 20px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.ImageIconContainerOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: transparent;
}

/* When you mouse over the container, fade in the overlay icon*/
#myTable tr:hover .ImageIconContainerOverlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.spotify__concerts-controls--play {
  margin: 3px 8px;
  padding: 20px;
  font-size: 18px;
  height: 62px;
  width: 62px;
  color: white;
  opacity: 0.6;
  background-color: rgba(19, 19, 19, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 1 !important;
}
