* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(217, 224, 238);
  font-family: Verdana, sans-serif;
}

body,
input,
button,
select,
textarea {
  font: 600 1rem Poppins;
  color: rgb(78, 78, 78);
}

a {
  text-decoration: none;
}

#QuizHolder {
  height: 100%;
  padding: 5%;
  background-color: transparent;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.QuestionArea {
  grid-area: 1 / 1 / 2 / 2;
  background-color: white;
  padding: 10%;
  position: relative;
}
.AnswerSection {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(21, 70, 235);
  padding: 3% 10%;
  position: relative;
  text-align: center;
  align-content: center;
}

.NumberSection {
  text-align: center;
  align-content: center;
  width: 100%;
  height: auto;
}

.NumberSection i {
  float: left;
  font-size: 10vw !important;
}

#totalQuestions {
  font-size: 5vw;
  font-weight: 500;
  color: rgba(216, 216, 216, 0.6);
}

.NumberSection strong {
  font-size: 8vw;
  font-weight: 900;
}

.progress-bar-outline,
.progress-bar-outline:hover {
  border-bottom: 1px solid blue;
  margin: 10% 0% 15% 0%;
}

.progress-bar-filled,
.progress-bar-filled:hover {
  background-color: rgb(21, 70, 235);
  height: 12px;
}

#TheQuestion {
  font-size: 8vw;
  line-height: 1.5;
  text-align: left;
  font-weight: 500;
  width: 90%;
  overflow: hidden;
  color: rgba(48, 48, 48, 0.7);
}

#topic {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 4vw;
  font-weight: 300;
  color: grey;
}

.questionLetter {
  color: rgba(216, 216, 216, 0.6);
}

.answerStylying {
  text-align: left;
  border-left: 5px solid white;
  color: white;
  font-size: 5vw;
  height: auto;
  padding: 1% 5%;
  font-weight: 400;
  background: linear-gradient(to right, white 50%, rgb(33, 87, 253) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}

.answerStylying p {
  margin: 0;
  padding: 5%;
}

.answerStylying:active {
  background-position: left bottom;
}

.answerStylying:active {
  color: rgb(33, 87, 253);
}

.answerWrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  padding: 1%;
  animation: slide-left 0.75s;
  height: 100%;
  align-content: center;
}

.answer1 {
  grid-area: 1 / 1 / 2 / 2;
}
.answer2 {
  grid-area: 2 / 1 / 3 / 2;
}
.answer3 {
  grid-area: 3 / 1 / 4 / 2;
}
.answer4 {
  grid-area: 4 / 1 / 5 / 2;
}

/* Results/Invite a friend section */

.Results {
  font-size: 6vw;
  line-height: 1.5;
  text-align: left;
  font-weight: 500;
  overflow: hidden;
  color: rgba(48, 48, 48, 0.7);
}

.blueText {
  color: rgb(0, 81, 255);
  font-size: larger;
}

.AnswerSection img {
  width: auto;
  height: 75%;
  margin: auto;
}

#playAgain {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  height: 10%;
  width: 80%;
  font-size: 5vw;
  background-color: rgb(0, 81, 255);
  color: rgba(255, 255, 255, 0.89);
  border-radius: 15px;
}

#emailFriend {
  position: absolute;
  bottom: 0;
  left: 10%;
  margin-bottom: 40px;
  height: 15%;
  width: 80%;
  font-size: 5vw;
  color: rgb(0, 81, 255);
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 15px;
}

/*  Animation Section */

#questionWrapper {
  animation: slide-left 0.74s;
  height: 500px;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slideOutWrapper {
  animation: slide-out 0.75s;
  height: 100%;
}

@keyframes slide-out {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: -150%;
    width: 100%;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #QuizHolder {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .QuestionArea {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10%;
  }
  .AnswerSection {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10%;
  }

  .progress-bar-outline,
  .progress-bar-outline:hover {
    border-bottom: 1px solid blue;
    margin: 5% 0% 5% 0%;
  }

  .NumberSection strong {
    font-size: 4vw;
    font-weight: 900;
  }

  #totalQuestions {
    font-size: 3vw;
  }

  #questionWrapper h2 {
    font-size: 3vw;
    line-height: 1.5;
  }

  #topic {
    font-size: 2vw;
  }

  .NumberSection i {
    font-size: 5vw !important;
  }

  .answerWrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 1%;
    animation: slide-left 0.75s;
    height: 100%;
    align-content: center;
  }

  .answerStylying {
    text-align: left;
    font-size: 2vw;
    height: auto;
    padding: 1% 5%;
  }

  /* Results/Invite a friend section */

  .Results {
    font-size: 2vw;
  }

  #playAgain {
    font-size: 2vw;
  }

  #emailFriend {
    left: 10%;
    margin-bottom: 40px;
    height: 10%;
    width: 80%;
    font-size: 2vw;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #QuizHolder {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .QuestionArea {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10%;
  }
  .AnswerSection {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10%;
  }

  .progress-bar-outline,
  .progress-bar-outline:hover {
    border-bottom: 1px solid blue;
    margin: 5% 0% 5% 0%;
  }

  .NumberSection strong {
    font-size: 4vw;
    font-weight: 900;
  }

  #totalQuestions {
    font-size: 3vw;
  }

  #questionWrapper h2 {
    font-size: 3vw;
    line-height: 1.5;
  }

  #topic {
    font-size: 2vw;
  }

  .NumberSection i {
    font-size: 5vw !important;
  }

  .answerWrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    padding: 1%;
    animation: slide-left 0.75s;
    height: 100%;
    align-content: center;
  }

  .answerStylying {
    text-align: left;
    font-size: 2vw;
    height: auto;
    padding: 1% 5%;
  }

  /* Results/Invite a friend section */

  .Results {
    font-size: 2vw;
  }

  #playAgain {
    font-size: 2vw;
  }

  #emailFriend {
    left: 10%;
    margin-bottom: 40px;
    height: 10%;
    width: 80%;
    font-size: 2vw;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .progress-bar-outline,
  .progress-bar-outline:hover {
    border-bottom: 1px solid blue;
    margin: 5% 0% 10% 0%;
  }

  #questionWrapper h2 {
    font-size: 6vw;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #QuizHolder {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .QuestionArea {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10%;
  }
  .AnswerSection {
    grid-area: 1 / 2 / 2 / 3;
    padding: 15% 5%;
  }

  #questionWrapper h2 {
    font-size: 3vw;
    line-height: 1.5;
  }

  .NumberSection i {
    float: left;
    font-size: 4vw !important;
  }

  #totalQuestions {
    font-size: 3vw;
    font-weight: 500;
    color: rgba(216, 216, 216, 0.6);
  }

  .NumberSection strong {
    font-size: 4vw;
  }

  #topic {
    font-size: 3vw;
  }

  .answerWrapper {
    grid-template-rows: repeat(4, auto);
  }

  /* Results/Invite a friend section */

  .Results {
    font-size: 3vw;
  }

  .AnswerSection img {
    margin: 20% auto;
    width: auto;
    height: 50%;
  }

  #playAgain {
    height: 10%;
    width: 60%;
    font-size: 3vw;
  }

  #emailFriend {
    left: 10%;
    margin-bottom: 40px;
    height: 10%;
    width: 80%;
    font-size: 3vw;
  }

  .answerStylying {
    font-size: 3vw;
  }

  .answerStylying p {
    margin: 0;
    padding: 2%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
