html {
  min-height: 884px;
  max-height: 884px;
}

body {
  font-size: 12px;
  background-color: #272727;
  scrollbar-color: light;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  box-sizing: border-box;
}

h6 {
  color: #ababab;
  padding-left: 0.5vw;
}

#friendHeader {
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(171, 171, 171, 0.3);
}

li {
  list-style-type: none;
  color: #ababab;
  padding: 0.5vw;
  transition: opacity 200ms ease;
  color: white;
  opacity: 0.65;
  font-size: 15px;
}

button {
  outline: none !important;
}

button:active {
  text-decoration: none;
}

a {
  color: #ababab;
  text-decoration: none;
}

li:hover {
  opacity: 1;
}

.buttonContainer button {
  border: none;
  border-radius: 50%;
  background-color: grey;
  padding: 8px;
  width: 10px;
  height: 10px;
}

.leftContainer {
  position: fixed;
  width: 18vw;
  height: 80vw;
  padding: 0.5vw;
  height: 81vh;
  background-color: #121212;
  max-width: 233px !important;
}

.PopUpBox {
  display: none;
  background: #333333;
  height: 350px;
  width: 650px;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 8000px rgba(0, 0, 0, 0.75);
  padding: 15px;
}

#imageUpload {
  margin-top: 12px;
  margin-left: 20px;
}

#CreatePlaylistBox h5 {
  color: white;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#AddFriendsBox h2 {
  color: white;
  float: left;
  padding: 20px;
  font-size: 40px;
}

#PlayListForm {
  margin-top: 50px;
}

#closeButton {
  position: absolute;
  top: 8%;
  left: 95%;
  transform: translate(-50%, -50%);
  color: #ababab;
  background: transparent;
  border: none;
}

#closeButton:hover {
  color: white;
}

#CreatePlaylistBox {
  display: none;
}

#leftsidePlaylistForm {
  width: 36%;
  height: 40vh;
  max-height: 215px;
  float: left;
  overflow: hidden;
}

#rightsidePlaylistForm {
  width: 62%;
  height: 40vh;
  max-height: 215px;
  float: right;
  overflow: hidden;
}

#create {
  border: none;
  padding: 7px 35px;
  color: white;
  border-radius: 25px;
  background: #21af42;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#create:hover {
  padding: 9px 37px;
}

label {
  color: #ababab;
  margin: 6px 0px;
  font-size: 15px;
}

#rightsidePlaylistForm input {
  width: 95%;
  border-radius: 8px;
  padding: 8px;
  color: #ababab;
  border: none;
}

#playListDescription {
  height: 50%;
}

#playListDescription::placeholder {
  content: 0;
}

.bottomContainer {
  position: fixed;
  padding: 0.5vw;
  bottom: 0vw;
  width: 100vw;
  height: 10vh;
  background-color: #282828;
}

.musicCorner {
  float: left;
  width: 25vw;
  height: 10vh;
}

.albumPhoto {
  position: absolute;
  top: 15px;
  left: 10px;
}

.artistDetails {
  position: absolute;
  top: 15px;
  left: 75px;
}

.songName {
  float: left;
  color: white;
}

.favouriteButton {
  float: left;
  color: white;
  font-size: 15px;
  margin-top: 7px;
  margin-left: 5px;
}

.artistName {
  color: #ababab;
  clear: both;
  float: left;
  margin-left: 5px;
}

.musicSelector {
  float: left;
  width: 48vw;
  height: 10vh;
}

.musicSelector button {
  display: inline-block;
  background: none;
  border: none;
  font-size: 20px;
  margin-top: 3px;
  padding: 0px 20px;
  color: #ababab;
}

.musicSelector button:hover {
  color: white;
}

.musicSelector button#shuffle:active {
  color: #7fc03f;
}

.musicSelectorIcons {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.musicSettings {
  float: right;
  width: 25vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.musicSettings button {
  display: inline-block;
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

input.sliderInput {
  margin-top: 8px;
  background: #121212;
  input: red;
}

.rightContainer {
  position: fixed;
  padding: 0.5vw;
  right: 0vw;
  width: 18vw;
  max-width: 233px !important;
  height: 90vh;
  background-color: #121212;
}

.rightContainer h6 {
  color: white;
}

#filter-search {
  width: 95%;
  margin: 2.5%;
  background-color: #292828;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.rightContainer #findFriends {
  width: 80%;
  color: white;
  background: none;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  margin: 20px 10%;
  border-radius: 50px;
  padding: 5px 0px;
  border-color: white;
  border-width: thin;
  opacity: 0.75;
}

.rightContainer #findFriends:hover {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

.PopUpBox {
  background: #0f0f0f;
  padding: 0px;
}

#AddFriendsBox {
  overflow: scroll;
}

.followButton {
  float: right;
  width: 80%;
  color: white;
  background: none;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  border-radius: 50px;
  padding: 5px 0px;
  border-color: white;
  border-width: thin;
  max-width: 120px;
  opacity: 0.75;
}

.followButton:hover {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

.followAllButton {
  float: right;
  width: 80%;
  color: white;
  background: none;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  border-radius: 50px;
  margin-top: 5px;
  padding: 5px 0px;
  border-color: white;
  border-width: thin;
  max-width: 120px;
  opacity: 0.75;
}

.followAllButton:hover {
  opacity: 1.2;
  transform: scale(1.05, 1.05);
}

.followedButton {
  background: #7fc03f !important;
}

#followTable {
  background: #131313;
  width: 100%;
  padding: 0% 5%;
  margin-top: 15%;
}

#followTable td {
  color: white;
  border-bottom-color: rgba(171, 171, 171, 0.3);
}

.friendImage {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-right: 20px;
  object-fit: cover;
}

.topContainer {
  position: fixed;
  padding: 0.5vw;
  top: 0vw;
  left: 18vw;
  width: 70vw;
  height: 7vh;
  background-color: rgb(0, 0, 0, 0);
}

.material-icons {
  color: #ababab;
}

.leftRightButton {
  border: none;
  background: none;
  padding: 4px;
  height: 10px;
}

#rightArrow {
  margin-right: 12px;
}

.topContainer input {
  position: fixed;
  top: 0.75vw;
  border-radius: 10px 10px;
  border: thin;
}
.middleContainer {
  position: fixed;
  padding: 0.5vw;
  width: 64vw;
  height: 90vh;
  background-color: lightgrey;
  overflow: hidden;
  z-index: -1;
}

.middleContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}

.buttonContainer button {
  margin: 0.1vw;
}

.libraryPlaylists {
  overflow: scroll;
  height: 50vh;
  margin-left: -5px;
  padding-bottom: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

.greenLine {
  border-left: 5px solid #1ed761 !important;
  padding-left: 1.6vw !important;
}

.libraryPlaylists h6 {
  margin-bottom: 1px;
  font-size: 12px;
  padding-left: 2vw;
}

.libraryPlaylists li {
  font-weight: bold;
  padding-left: 2vw;
}

.icons {
  padding: 1.5vw;
  font-size: 15px;
  margin-left: -2vw;
}

.icons li {
  margin-bottom: 4px;
  padding-right: 5px;
  padding-left: 2vw;
}

.icons fas {
  size: 10px;
  padding: 5px;
}

.playlistIcon {
  position: fixed;
  padding: 0.5vw;
  width: 18vw;
  max-width: 233px !important;
  bottom: 10%;
  height: 9vh;
  background-color: #121212;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(171, 171, 171, 0.3);
}

.playlistIcon a {
  width: 18vw;
  margin-left: 5px;
}

.playlistIconHover:hover {
  color: white;
}

.material-icons {
  float: left;
  padding: 5px;
  font-size: 30px;
  color: #ababab;
}

#centerPlaylistButton {
  display: flex;
  align-items: center;
}

.buttonContainer {
  margin-left: 10px;
  margin-bottom: 25px;
}

.buttonContainer .buttons {
  height: 12px !important;
  width: 12px !important;
  padding: 3px;
  margin-right: 4px;
}

.fa-facebook-square {
  color: #4267b2;
  margin-right: 5px;
}

#searchInput {
  width: 170px;
  margin-top: 1vh;
}

#searchInput::placeholder {
  color: black;
}

#redIcon {
  background-color: #ff5a52;
}

#yellowIcon {
  background-color: #e6c029;
}

#greenIcon {
  background-color: #7fc03f;
}

.spotify {
  float: left;
  margin: auto;
  padding: 1vh;
  width: 50%;
  height: 100%;
}

.spotify__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify__controls i {
  margin: 1px 8px;
  font-size: 11px;
  height: 30px;
  width: 30px;
  color: #fff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease;
}

.spotify__controls--play {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 1 !important;
}

.spotify__controls--play:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.spotify__controls i:hover {
  opacity: 1;
}

.spotify__timebar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify__timer {
  color: white;
  font-size: 1.5vh;
}

.spotify__track-wrap {
  height: 5px;
  background: #333 !important;
  flex: 1;
  margin: 5px 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.spotify__track-bar {
  background: #ccc;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  left: -100%;
}

.spotify__track-bar-active {
  animation: moveTrackBar 60s ease forwards !important;
}

.spotify__track-bar:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -3px;
  opacity: 0;
}

.spotify_controls--shuffle {
  color: lightgreen !important;
  opacity: 1 !important;
}

.spotify__track-wrap:hover .spotify__track-bar:after {
  opacity: 1;
}

.spotify__track-wrap:hover .spotify__track-bar {
  background-color: #7fc03f;
}

@keyframes moveTrackBar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.spotify-song-info {
  float: left;
  width: 25% !important;
}

.spotify-current-song {
  height: 100%;
  float: left;
}

.spotify-current-songtext {
  float: left;
  height: 100%;
  padding: 1.5vh 2vh;
}

.spotify-current-song img {
  margin: 1vh;
  height: 7vh;
  width: 7vh;
}

.spotify-current-songtext h5 {
  color: white;
  font-size: 2.5vh;
  opacity: 0.9;
  margin: 2px;
}

.spotify-current-songtext p {
  color: white;
  margin: 0px;
  font-size: 2vh;
  opacity: 0.6;
}

.spotify-toggle-controls {
  float: left;
  width: 25% !important;
}
