.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidebar h4 {
  width: 100%;
  color: #55acee;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #55acee;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #125688;
}

.sidebar .closebtn {
  color: grey;
  padding-left: 0px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

.openbtn {
  position: fixed;
  left: 0;
  top: 70%;
  transform-origin: 0 0;
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -moz-transform: rotate(270deg); /* Firefox */
  -ms-transform: rotate(270deg); /* IE 9 */
  -o-transform: rotate(270deg); /* Opera */
  transform: rotate(270deg);
  font-size: 20px;
  cursor: pointer;
  background-color: #125688;
  border-radius: 0px 0px 20px 20px;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Ale Filter Section*/

.filterDiv {
  background-color: #2196f3;
  color: #ffffff;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  text-align: left;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin: auto;
  width: auto;
  padding: 60px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* Flipcard */

.flip-card {
  background-color: transparent;
  float: right;
  min-width: 250px;
  margin: 5px;
  height: 400px;
  perspective: 1000px;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.flip-card-back {
  background-color: white;
  color: Black;
  transform: rotateY(180deg);
  padding: 10px;
}

.flip-card-back h4 {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  margin: 10px 10px 0px 10px;
}

.aleColour {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

a {
  color: blue;
}

#Trooper {
  background-color: #f28e1c;
}

#OldGoldenHen {
  background-color: rgba(217, 114, 1, 1);
}

#OldSpeckledHen {
  background-color: rgba(85, 26, 21, 1);
}

#BestBitter {
  background-color: rgba(128, 39, 5, 1);
}

#WoodsTheLass {
  background-color: rgba(166, 66, 8, 1);
}

#BrewDogIPA {
  background-color: rgba(255, 170, 1, 1);
}

#Wainwright {
  background-color: rgba(222, 155, 30, 1);
}

#Doombar {
  background-color: rgba(187, 1, 1, 1);
}

#MPA {
  background-color: rgba(254, 189, 33, 1);
}

@media screen and (max-width: 320px) {
  .filterDiv {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  .openbtn {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 1201px) {
}

@media (max-width: 900px) and (orientation: landscape) {
  .openbtn {
    position: fixed;
    left: 30vw;
    top: 0;
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -moz-transform: rotate(0deg); /* Firefox */
    -ms-transform: rotate(0deg); /* IE 9 */
    -o-transform: rotate(0deg); /* Opera */
    transform: rotate(0deg);
    font-size: 20px;
    cursor: pointer;
    background-color: #125688;
    border-radius: 0px 0px 20px 20px;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  #myBtnContainer {
    margin-top: 50px;
  }
}
