body {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.95);
}

.MainContent {
  margin-top: 6%;
  width: 100vw;
}

.MainContent > Div {
  float: left;
  width: 50%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.MainContent > Div img {
  width: 100%;
  height: 100%;
}

.MainContent h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  color: rgba(255, 255, 255, 9);
}

address {
  margin: 50px;
}

.MainContent h4 {
  color: rgba(255, 255, 255, 0.85);
}

.textBoxLeftSide {
  display: table;
  margin: auto;
  text-align: center;
  padding: 10%;
}

.textBoxRightSide {
  display: table;
  margin: auto;
  text-align: center;
  padding: 10%;
}

.bookingButtonMainPage {
  margin: 5%;
  padding: 15px 40px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  background-color: #3b5998;
  border: none;
}

.bookingButtonMainPage:hover {
  background-color: #55acee;
}

.fa-beer {
  font-size: 50px !important;
  color: white;
}

.fa-beer:hover {
  color: #55acee;
}

#iconholder {
  transform-origin: -50%;
}

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 481px) {
  .MainContent {
    margin-top: 30%;
  }
}

@media screen and (max-width: 769px) {
  .MainContent {
    margin-top: 25%;
  }
}

@media screen and (max-width: 1025px) {
  .MainContent {
    margin-top: 20%;
  }

  .MainContent > Div {
    float: left;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 1);
  }

  .bookingButtonMainPage {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1201px) {
  .MainContent {
    margin-top: 25%;
  }
  .textBoxLeftSide {
    width: 100%;
  }

  .textBoxRightSide {
    width: 100%;
  }
}
